*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.memor{
    padding: 20px 20px 40px;
    position: relative;
    width: 100%;
   min-height: 100vh;
background-color: #eee;
}

.text{
    position: relative;
    margin: 5px;
}
.text i{
    cursor: pointer;
    font-size: 21px;
}
.text i:not(:first-child){
    padding: 5px 15px;
    border-radius: 6px;
    background-color: blue;
    color: white;
}
.text i:hover{
    font-size: 22px;
    border: 1px solid #eee;
    color: blue;
}
.text:hover i:not(:first-child){
    color: red;
}
.text .add_v{
    display: flex;
    justify-content:center;
    align-items: center;
    transition: .5s;
    top: -15px;
    left: 30px;
    position: absolute;
    z-index: 11;
}
.text input{
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    box-shadow: 0 0 3px #999;
    }
.hidden{
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200px);
    display: none;
        
}

.text input:focus{
    outline: none;
    padding: 20px;

}


.inform{
    width: fit-content;
    display: inline-block;
    left: 50%;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width:750px) {
    .text .add_v{
        flex-direction: column;
        top: 25px;
        left: 0;
    }
    .text .add_v input{
        margin: 5px;
    }

}

.contanet{
    box-shadow:0 0  2px rgb(77, 72, 72) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 6px;
    min-height: 300px;
}
.input_S{
    position: relative;
}

.input_S i{
    position: absolute;
    top: -250px;
    transform: translatey(-50%);
    padding: 25px;
    background-color: rgb(250, 246, 240);
    box-shadow:0 0 5px black ;
    border-radius: 7px;
    color: blue;
    cursor: pointer;
}
@media (max-width:780px) {

    .input_S i{
        top: 0px;
        transform: translatey(-50%);
        padding: 15px;
    }
    
}
.input_S i:first-of-type{
    right: 40px;
}
.input_S i:last-of-type{
    left: 40px;
}
.input_S i:hover{
    border: 1px solid blue;
}
.input_S .desapol{
color: #999;
cursor: not-allowed;
background-color: rgb(235, 228, 219);
}

.parant{
    position: relative;
    /* border: 1px solid; */
    min-width: 500px ;
    height: 300px;
    margin:100px auto;

}
.right{
    animation:transform_ri 1s ;
}
.left{
    animation:transform_lf 1s ;
}
.parant .front,
.parant .back{
    position: absolute;
    display: flex;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #dbdfdb9c;
    border-radius: 6px;
    transition: 1s;
    backface-visibility: hidden;
    box-shadow: 0 0 3px #999;
}
@media (max-width:750px) {
    .parant{
        min-width: 90%;
    }

}
.parant .back{
    background-color: white;
    transform: rotatey(180deg) perspective(10px);
}
.parant.active .back{
    transform: rotatey(0deg) perspective(10px);
}
.parant.active .front{
    transform: rotatey(180deg) perspective(10px);
}
.parant .info{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.parant .info i{
margin: 10px;
font-size: 20px;
cursor: pointer;
}
 .info i.fa-solid,
 .info i.fa-eye{
color: red;
}
.contanet .parant i:hover {
    color: blue;
}

@keyframes transform_ri {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes transform_lf {
    from{
        transform: translateX(300px);
    }
    to{
        transform: translateX(0);
    }
}